* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header {
    width: 100%;
    background: url("/img/bg.jpg") #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

header .container {
    position: relative;
    height: 700px;
}

header .menu {
    width: 100%;
    text-align: right;
}

header .menu a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
}

header .menu a:hover {
    text-decoration: underline;
}

header .text {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

header .text .name {
    font-size: 50px;
    font-weight: 300;
}

header .text .name span {
    font-weight: 600;
}

header .text h3 {
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}

/* Main section */

.main {
    background: url("/img/bg-textura.png");
    background-repeat: repeat;
}

.main .about .container {
    overflow: visible;
    position: relative;
}

.main .about .image {
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}

.main .about .image img {
    vertical-align: top;
    width: 100%;
}

.main .about article {
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 350px;
    z-index: 1;
    float: right;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}

.main .about article h3 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .about article p {
    line-height: 28px;
    margin-bottom: 15px;
}

/* MENU */

.main .food-menu {
    padding-top: 500px;
    margin-bottom: 50px;
}

.main .food-menu .title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

.main .food-menu .menu-container,
.main .food-menu .menu-container2 {
    border: 1px solid #000;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}

.main .food-menu article {
    width: 50%;
    float: left;
    padding: 20px;
}

.main .food-menu .catedory {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.main .food-menu .dish {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 4px dotted #000;
    overflow: hidden;
}

.main .food-menu .name {
    font-size: 20px;
    margin-bottom: 15px;
    float: left;
}

.main .food-menu .price {
    font-size: 20px;
    margin-bottom: 15px;
    float: right;
}

.main .food-menu .description {
    font-size: 16px;
    color: #676767;
    clear: both;
}

/* GALLERY */

section .gallery {
    overflow: hidden;
}

section .gallery .image {
    width: 25%;
    float: left;
}

section .gallery .image img {
    width: 100%;
    vertical-align: top;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

section .gallery .image:hover img {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/* UBICATION */

.main .ubication {
    background: #fff;
    padding: 60px 0;
}

.main .ubication .title {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .ubication .address {
    float: left;
    width: 50%;
    text-align: left;
}

.main .ubication .schedule {
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden;
}

.main .ubication .address .street {
    margin-bottom: 15px;
}

.main .ubication .schedule h4 {
    margin-bottom: 20px;
    text-align: center;
}

.main .ubication .schedule .weekdays,
.main .ubication .schedule .weekends {
    width: 50%;
    float: left;
    text-align: center;
}

.main .map {
    overflow: hidden;
    width: 100%;
}

.main .map iframe {
    width: 100%;
    max-height: 600px;
}

footer {
    background-color: #000;
    color: #fff;
}

footer .copyright {
    text-align: center;
    padding: 15px 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    header .container {
        position: static;
        height: auto;
    }

    header .text {
        position: static;
        margin: 100px 0;
    }

    header .menu {
        text-align: center;
    }

    heder .menu a {
        margin: 10px 20px;
    }

    header .text .name {
        font-size: 30px;
    }

    header .text h3 {
        font-size: 18px;
    }

    .main .about .image {
        width: 100%;
        position: relative;
    }

    .main .about article {
        width: 100%;
        position: relative;
        top: -50px;
        transform: translate(0px, 0);
    }

    .main .food-menu {
        padding-top: 300px;
    }

    .main .food-menu article {
        width: 100%;
    }

    .main .gallery .image {
        width: 50%;
    }

    .main .map {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .main .about article h3 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .main .food-menu article .name,
    .main .food-menu article .price {
        font-size: 16px;
        line-height: 16px;
    }

    .main .ubication .address {
        margin-bottom: 15px;
    }

    .main .ubication .address,
    .main .ubication .schedule {
        width: 100%;
        text-align: center;
    }
}
