* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(216, 222, 228);
    font-size: 18px;
}

.container {
    width: 400px;
    margin: 40px auto;
}

.form .input-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 6px 6px 0 0;
}

.form input[type='text'], .form input[type='email'] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 10px;
    border: none;
    border-bottom: 2px solid grey;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.form input[type='text']:focus, .form input[type='email']:focus {
    border-bottom: 2px solid rgb(0, 143, 143);
    transition: ease-in-out 0.2s;
}

.form input[type='radio'] {
    display: none;
}

.form .sex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form .sex .man {
    border-radius: 3px 0 0 3px;
}

.form .sex .woman {
    border-radius: 0 3px 3px 0;
}

.form .radio-label {
    width: 49%;
    background-color: rgb(0, 143, 143);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.form input[type='radio']:checked+.radio-label {
    background-color: rgba(0, 143, 143, 0.541);
}

.form .terms {
    text-align: center;
    color: #424242;
}

.form .terms label {
    margin-left: 10px;
}

.form .error {
    display: none;
    margin-top: 20px;
    border-radius: 3px;
    background: #ce1818;
    color: #fff;
    padding: 15px 10px;
    padding-left: 40px;
}

.form .btn {
    width: 100%;
    text-align: center;
    background: rgb(0, 143, 143);
    color: #fff;
    border: none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 3px 3px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.form .btn:hover{
    background: rgb(0, 98, 98);
}