body {
    background-color: rgb(28, 39, 42);
    color: white;
}


.navbar-nav .active {
    border-bottom: 2px solid rgb(28, 39, 42);
    color: rgb(28, 39, 42);
    border-radius: 0;
}

.navbar-nav a {
    margin-right: 5px;
}

.navbar-nav a:hover, .navbar-nav button:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
}