div {
  background-color: brown;
  width: 200px;
  height: 200px;
  margin: 20px;
  display: inline-block;
}

.caja1 {
  border: 7px solid black;
  border-radius: 10px;
}

.caja2 {
  border: 7px dotted black;
}

.caja3 {
  border: 7px dashed black;
}

.caja4 {
    border: 7px double rgb(116, 116, 116);
    border: 7px outset rgb(116, 116, 116);
    border: 7px inset rgb(116, 116, 116);
    border: 7px ridge rgb(116, 116, 116);
}
