/*ul, ol{
    list-style: none;
    padding: 0;
}
*/

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
ul {
  list-style-image: url("img/avatar.png");
}

ol {
  list-style: upper-alpha;
}

.menu {
  background-color: yellowgreen;
  width: 200px;
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.menu li a:hover {
  background-color: rgb(206, 255, 108);
  color: rgb(175, 175, 175);
}
