* {
  padding: 0;
  margin: 0;
}

body{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caja {
  background: rgb(0, 151, 136);
  width: 200px;
  margin: 20px;
  padding: 20px
}

.caja p{
    background: rebeccapurple;
}
